
<%- partial('_partial/menu') %>
<!-- Begin Article
================================================== -->
<div class="container post212" style="margin-top:5%;">
  <div class="row">
		<!-- Begin Fixed Left Share -->
		<div class="col-md-2 col-xs-12">

		</div>
		<!-- End Fixed Left Share -->

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">

				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
          <div class="col-md-2 inline-post-meta-photo">
						<a href=""><img class="author-thumb" src="<%- config.root %><%- theme.logo_author %>" alt="Husein"></a>
					</div>
					<div class="col-md-10 inline-post-meta-caption">
						<a class="link-dark" href=""><% if(item.author) { %>
             <%- item.author %>
        <% } %></a><a href="http://instagram.com/huseindra" target="_blank" class="btn follow">Follow</a>
        <br>
						<span class="author-description"><%- theme.motivation %></span>
        <br>
						<span class="post-date"><%= item.date.format(config.date_format) %></span><span class="dot"></span><span class="post-read"><time class="timeago" datetime="<%= item.date.format(config.date_format) %>"><%= item.date.format(config.date_format) %></time></span>
					</div>
				</div>
				<!-- End Top Menta -->

				<h1 class="posttitle"><%- item.title || item.link%></h1>

			</div>


			<!-- Begin Post Content -->
			<div class="article-post">
        <!-- Content -->
          <%- item.content %>
			</div>
			<!-- End Post Content -->

			<!-- Begin Tags -->
			<div class="after-post-tags">
				<ul class="tags">
          <li><%- partial('article-categories', {item: item}) %></li> |
          <li><%- partial('article-tags', {item: item}) %></li>
				</ul>
			</div>
			<!-- End Tags -->
      <div class="sharethis-inline-share-buttons"></div>
      <div class="blog-post">

          <!-- Comments -->
          <%- partial('comments') %>
          <div id="disqus_thread"></div>
      </div>
		</div>
</div>
		<!-- End Post -->
  </div>
<!-- End Article
================================================== -->


<!-- Begin AlertBar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
		Reach me out in <b>linkedin</b>  <a href="http://linkedin.com/huseindra" target="_blank" class="btn subscribe">Contact Me</a>
	</div>
</div>
<!-- End AlertBar
================================================== -->
